[Unit]
Description=HelloWorld Service
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=helloworld
Image=docker.io/busybox:{{.container_tag}}
Exec=/bin/sh -c "trap 'exit 0' INT TERM; while true; do echo Hello World; sleep 1; done"

[Install]
WantedBy=multi-user.target
