[tools]
go = "1.24"
age = "latest"
"go:golang.org/x/tools/cmd/stringer" = "latest"
golangci-lint = "2.1.2"
gotestsum = "latest"
mockery = "latest"
sops = "latest"

[settings]
experimental = true

[vars]
CURRENTBRANCH = "{{exec(command='git rev-parse --abbrev-ref HEAD')}}"
PKGVERSION = '{{exec(command="git describe --tags --abbrev=8 --dirty --always --long")}}'
LDFLAGS = "{{ get_env(name='LDFLAGS',default='-w -s') }} -X 'main.Version={{vars.PKGVERSION}}'"
AGEKEY = "age1s2sc3dz0vrcmungswpxwnett7ayvzmfuke8vw0w3te36l742kpqs6kg606"
releasedir = "./release"

[tasks.container]
depends = ["build", "lint", "test"]
env = { LDFLAGS = '-ldflags="-w -s"' }
run = "podman build -f Containerfile.ci --platform=linux/amd64 -t primamateria.systems/materia:latest ."

[tasks.build]
depends = ["generate", "build-arm64", "build-amd64"]

[tasks.lint]
depends = ["generate"]
sources = ["go.mod", "go.sum", "**/*.go"]
outputs = { auto = true }
run = "golangci-lint run ./cmd/... ./internal/... ./pkg/..."

[tasks.test]
depends = ["lint"]
run = [
  "gotestsum ./internal/... ",
]

[tasks.virter-age]
dir = "virter"
run = """
  for file in $(find . -path "./in/*/secrets/*.toml"); do
    echo "encrypting $file"
    age -r {{vars.AGEKEY}} -o $(dirname $file)/$(basename $file .toml).age $file;
  done
"""

[tasks.virter-sops]
dir = "virter"
run = """
  for file in $(find . -path "*/secrets/*.yml" ! -name "*.enc.yml"); do
    echo "encrypting $file"
    sops encrypt --age {{vars.AGEKEY}} $file > $(dirname $file)/$(basename $file .yml).enc.yml
  done
"""

[tasks.virter-test]
usage = '''
flag "-k --keep" help="Keep VM after running tests" default=#false
'''
depends = ["build", "test", "virter-age", "virter-sops"]
run = '''
  #!/usr/bin/env bash
  if ! virter vm exists materia-test-alma-9; then virter vm run --name materia-test-alma-9 --id 102 --wait-ssh alma-9; fi
  virter vm exec materia-test-alma-9 --provision ./virter/virter_test.toml
  [[ "${usage_keep?}" == "false" ]] && virter vm rm materia-test-alma-9 || echo "keeping vm"
'''

[tasks.virter-bool]
usage = '''
'''
run = '''
  [[ "${usage_keep?}" == "false" ]] && echo "deleting vm" || echo "keeping vm"
'''

[tasks.virter-testsuite]
run = "gotestsum ./virter"

[tasks.virter-explore]
depends = ["build-amd64", "lint", "test", "virter-age"]
run = [
  "if virter vm exists materia-explore-alma-9; then virter vm rm materia-explore-alma-9; fi",
  "virter vm run --name materia-explore-alma-9 --id 0 --wait-ssh alma-9",
  "virter vm exec materia-explore-alma-9 --provision ./scripts/virter_provision_explore.toml --set values.RemoteHost=$MATERIA_TEST_REPO_HOST",
]

[tasks.generate]
description = "Run go:generate"
sources = ["go.mod", "go.sum", "**/*.go", ".mockery.yml"]
outputs = { auto = true }
run = [
  "go generate ./...",
  "mockery",
]

[tasks.build-amd64]
depends = ["build-materia-amd64"]

[tasks.build-arm64]
depends = [
  "build-materia-arm64",
]

[tasks.build-materia-arm64]
depends = ["lint"]
description = "Build the project for arm64"
sources = ["go.mod", "go.sum", "**/*.go"]
outputs = ["./bin/materia-arm64"]
env = { GOOS = "linux", GOARCH = "arm64", CGO_ENABLED = 0 }
run = 'go build -ldflags="{{vars.LDFLAGS}}" -o bin/materia-arm64 ./cmd/materia/'

[tasks.build-materia-amd64]
depends = ["lint"]
description = "Build the project for amd64"
sources = ["go.mod", "go.sum", "**/*.go"]
outputs = ["./bin/materia-amd64"]
env = { GOOS = "linux", GOARCH = "amd64", CGO_ENABLED = 0 }
run = 'go build -ldflags="{{vars.LDFLAGS}}" -o bin/materia-amd64 ./cmd/materia/'

[tasks.docs]
description = "generate manpages"
dir = "docs"
tools.pandoc = "latest"
run = [
  "mkdir -p output/{{vars.CURRENTBRANCH}}/man",
  "find . -iname \"*.*.md\" -type f -exec sh -c 'pandoc \"${0}\" -f commonmark_x -s -t man -o output/{{vars.CURRENTBRANCH}}/man/\"$(basename ${0%.md})\"' {} \\; ",
]

[tasks.release-tar]
description = "generate release tarballs"
depends = ["lint", "test", "build", "docs"]
usage = '''
  arg "<version>" help="Version to release" default="latest"
'''
run = [
  "mkdir -p {{vars.releasedir}}/bin {{vars.releasedir}}/man/man1 {{vars.releasedir}}/man/man5",
  "cp ./README.md {{vars.releasedir}}/ ",
  "cp ./LICENSE {{vars.releasedir}}/",
  "cp docs/output/{{vars.CURRENTBRANCH}}/man/*.1 {{vars.releasedir}}/man/man1/",
  "cp docs/output/{{vars.CURRENTBRANCH}}/man/*.5 {{vars.releasedir}}/man/man5/",
  "cp bin/materia-amd64 {{vars.releasedir}}/bin/materia",
  "tar -czvf ./materia-${usage_version?}-amd64.tar.gz -C {{vars.releasedir}} .",
  "rm {{vars.releasedir}}/bin/materia",
  "cp bin/materia-arm64 {{vars.releasedir}}/bin/materia",
  "tar -czvf ./materia-${usage_version?}-arm64.tar.gz -C {{vars.releasedir}} .",
]

[tasks.github-release]
description = "Generate github release"
depends = ["lint", "test", "build", "release-tar"]
usage = '''
  arg "<version>" help="Version to release" default="latest"
'''
tools.gh = "latest"
run = [
  "gh release create ${usage_version?} --generate-notes ./materia-${usage_version?}-amd64.tar.gz ./materia-${usage_version?}-arm64.tar.gz ./bin/materia*",
]
