[Unit]
Description=carpal container
After=local-fs.target network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
SuccessExitStatus=2


[Container]
Image=docker.io/peeley/carpal:{{.containerTag}}
ContainerName=carpal
Volume={{ m_dataDir "carpal" }}/conf:/etc/carpal:Z
PublishPort={{.port}}:8008
{{ snippet "autoUpdate" "registry" }}

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
