version = 1


[env]
MATERIA_DEBUG = "true"
MATERIA_DIFFS = "true"

[[steps]]
[steps.shell]
script = """
yum install -y make rsync podman git go
mkdir -p /var/lib/materia
mkdir -p /etc/materia
rm -rf /root/materia
mkdir -p /root/materia
"""

[[steps]]
[steps.rsync]
source = "bin/materia-amd64"
dest = "/usr/local/bin/materia"

[[steps]]
[steps.rsync]
source = "virter/auth/*"
dest = "/root/.ssh/"

[[steps]]
[steps.rsync]
source = "virter/out/"
dest = "/tmp/out/"

[[steps]]
[steps.rsync]
source = "."
dest = "/root/materia"

[[steps]]
[steps.shell]
script = """
cd /root/materia/
if ! command -v mise >/dev/null 2>&1
then
	curl https://mise.run | MISE_INSTALL_PATH=/usr/local/bin/mise sh
	mise trust .
fi
rm -f mise.local.toml
systemctl enable --now podman.socket
mise task run virter-testsuite
"""
