[Unit]
Description=Materia: quadlet manager
After=local-fs.target network.target

[Service]
Environment="SCRIPT_ARGS=%I"
Type=oneshot

[Container]
Image=github.com/stryan/materia:latest
ContainerName=materia
Environment=MATERIA_SOURCE_URL=file:///tmp/test_repo
SecurityLabelDisable=true
HostName=%q
Exec=$SCRIPT_ARGS
Network=host
Volume=/etc/materia:/etc/materia
Volume=/run/dbus/system_bus_socket:/run/dbus/system_bus_socket
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Volume=/var/lib/materia:/var/lib/materia
Volume=/etc/containers/systemd:/etc/containers/systemd
Volume=/usr/local/bin:/usr/local/bin
Volume=/etc/systemd/system:/etc/systemd/system
Volume=/etc/materia/known_hosts:/root/.ssh/known_hosts:ro
Label=io.containers.autoupdate=registry
