[Unit]
Description=Materia: quadlet manager

[Service]
Type=oneshot

[Container]
Image=primamateria.systems/materia:latest
ContainerName=materia
Environment=MATERIA_SOURCE__KIND=git
Environment=MATERIA_ROOTLESS=true
Environment=MATERIA_SOURCE__URL=https://github.com/stryan/materia_example_repo
Environment=MATERIA_SOPS__SUFFIX=enc
Environment=MATERIA_SOPS__BASE_DIR=attributes
Environment=MATERIA_DEBUG=true
Environment=SOPS_AGE_KEY_FILE=/var/lib/materia/source/key.txt

SecurityLabelDisable=true
HostName=localhost
Exec=update
Network=host
Volume=%h/.ssh/known_hosts:/root/.ssh/known_hosts:ro
Volume=/run/user/1000/bus:/run/dbus/system_bus_socket
Volume=/run/user/1000/podman/podman.sock:/run/podman/podman.sock
Volume=%D/materia:/var/lib/materia
Volume=%E/containers/systemd:/etc/containers/systemd
Volume=%h/.local/bin:/usr/local/bin
Volume=%D/systemd/user:/etc/systemd/system
Label=io.containers.autoupdate=registry
