[Unit]
Description=Nothing Service
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=nothing
Image=docker.io/busybox:{{.container_tag}}
Exec=/bin/sh -c "trap 'exit 0' INT TERM; while true; do echo HATE HATE HATE; sleep 1; done"

[Install]
WantedBy=multi-user.target
