version = 1

[values]
Repo = "git@github.com:materia/materia_repo"
LocalRepo = "./testrepo/"
AgeKeyLocation = "scripts/_vm/auth/key.txt"

[env]
MATERIA_LOCALREPO = "{{ .LocalRepo }}"
MATERIA_PRIVATE_KEY = ".ssh/materia_key"
MATERIA_DEBUG = "true"

[[steps]]
[steps.shell]
script = """
yum install -y make rsync podman git
"""

[[steps]]
[steps.rsync]
source = "materia"
dest = "/usr/local/bin/materia"

[[steps]]
[steps.rsync]
source = "scripts/_vm/auth/*"
dest = "/root/.ssh/"

[[steps]]
[steps.rsync]
source = "{{ .AgeKeyLocation }}"
dest = "/root/"

[[steps]]
[steps.shell]
script = """
rm -rf "/tmp/$MATERIA_LOCALREPO"
"""

[[steps]]
[steps.rsync]
source = "{{ .LocalRepo }}"
dest = "/tmp/"

[[steps]]
[steps.shell]
script = """
/usr/local/bin/materia update
"""
