# This is a service resource. It will be installed to /etc/systemd/system/hello.timer by default. It should be definied in the components manifest as a "static" service
[Unit]
Description=hello

[Timer]
OnCalendar=*-*-* *:*:00
Unit=hello.service

[Install]
WantedBy=hello.service
