[Unit]
Description=Materia daily update

[Timer]
OnCalendar=*-*-* 05:00:00 America/New_York
Unit=materia-rootless-update.service

[Install]
WantedBy=timers.target
