[Unit]
Description=Materia: quadlet manager

[Service]
Type=oneshot

[Container]
Image=ghcr.io/stryan/materia:stable
ContainerName=materia
Exec=update
#Pull=newer (OPTIONAL), since this container doesn't run all the time, you can use this to make sure you always have the latest materia version

Environment=MATERIA_SOURCE__KIND=git
Environment=MATERIA_ROOTLESS=true
Environment=MATERIA_SOURCE__URL=https://github.com/stryan/materia_example_repo
Environment=MATERIA_SOPS__SUFFIX=enc
Environment=MATERIA_SOPS__BASE_DIR=attributes
Environment=SOPS_AGE_KEY_FILE=/var/lib/materia/source/key.txt

SecurityLabelDisable=true
Network=host
HostName=%q

# Use systemd specifiers to auto adjust to XDG_DIRS
Volume=%h/.ssh/known_hosts:/root/.ssh/known_hosts:ro
Volume=%t/bus:/run/dbus/system_bus_socket
Volume=%t/podman/podman.sock:/run/podman/podman.sock
Volume=%D/materia:/var/lib/materia
Volume=%E/containers/systemd:/etc/containers/systemd
Volume=%h/.local/bin:/usr/local/bin
Volume=%D/systemd/user:/etc/systemd/system
