[Unit]
Description=beszel-agent container
After=tailscaled.service
Wants=tailscaled.service
Requires=
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s



[Container]
Image=docker.io/henrygd/beszel-agent:{{.containerTag}}
ContainerName=beszel-agent
Environment=LISTEN="{{m_facts "interface.tailscale0.ip4.0"}}:{{.port}}"
Environment=KEY="{{.hostkey}}"
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true
Network=host
{{ snippet "autoUpdate" "registry"}}

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
